/BlockStack/BlockStack/bin
/BlockStack/BlockStackContent/bin
/OpenGame/bin
/OpenGame/obj
BlockStack/BlockStack/obj/x86/Debug/BlockStack.pdb
BlockStack/BlockStack/obj/x86/Debug/BlockStack.pdb
BlockStack/BlockStack/obj/x86/Debug/BlockStack.exe
/BlockStack/BlockStack/obj
BlockStack/BlockStack/BlockStack.csproj.Debug.cachefile
BlockStack/BlockStackContent/BlockStackContent.contentproj
*.cache
*.xml
*.suo
*.cache
BlockStack/BlockStackContent/obj/x86/Debug/BlockStackContent.contentproj.FileListAbsolute.txt
BlockStack/BlockStackContent/obj/x86/Debug/ContentPipeline.xml
BlockStack/BlockStackContent/obj/x86/Debug/BlockStackContent.contentproj.FileListAbsolute.txt
BlockStack/BlockStackContent/obj/x86/Debug/BlockStackContent.contentproj.FileListAbsolute.txt
BlockStack/BlockStackContent/obj/x86/Debug/BlockStackContent.contentproj.FileListAbsolute.txt
OpenGame/obj/Debug/OpenGame.csproj.FileListAbsolute.txt
*.pdb
*.exe
*.exe
