/BlockStack/BlockStack/bin
/BlockStack/BlockStackContent/bin
/OpenGame/bin
/OpenGame/obj
BlockStack/BlockStack/obj/x86/Debug/BlockStack.pdb
BlockStack/BlockStack/obj/x86/Debug/BlockStack.pdb
BlockStack/BlockStack/obj/x86/Debug/BlockStack.exe
BlockStack/BlockStack/obj
*.cache
*.cachefile
*.xml
*.suo
*.pdb
*.exe
BlockStack/BlockStackContent/obj/x86/Debug/BlockStackContent.contentproj.FileListAbsolute.txt
BlockStack/BlockStackContent/obj/x86/Debug/BlockStackContent.contentproj.FileListAbsolute.txt
BlockStack/BlockStackContent/obj/x86/Debug/BlockStackContent.contentproj.FileListAbsolute.txt
BlockStack/BlockStackContent/obj/x86/Debug/BlockStackContent.contentproj.FileListAbsolute.txt
OpenGame/obj/Debug/OpenGame.csproj.FileListAbsolute.txt
